.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0 auto;
    font-feature-settings: 'palt' 1;
    font-family: "Zen Old Mincho", serif;
    text-align: center;
}

body {
    background-color: #140f0e;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    color: #c1d0d4;
    border-color: #c1d0d4;
    text-align: center;
}

.FirstView {
    font-size: 72px;
    letter-spacing: 0.1em;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.FirstView .fade {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 3s, transform 1.5s;
}

.FirstView .fade.active {
    opacity: 1;
    transform: translateY(0px);
}

h1 {
    font-family: serif;
    font-size: 72px;
    letter-spacing: 0.1em;
    padding: 30px;
    padding-top: 25vh;
    font-weight: bold;
}

.FirstView img {
    padding: 30px;
    width: 100%;
    height: auto;
    max-width: 800px;
}

.PC_font {
    display: block;
}

.smartphone_font {
    display: none;
}

p {
    font-size: 18px;
    padding-bottom: 40px;
}

.sp_menu {
    display: none;
}

.menu {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #c1d0d4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
}

.menu li a {
    color: #140f0e;
    text-decoration: none;
    border-bottom: 4px solid #c1d0d4;
    font-weight: bold;
}

.menu li a:hover {
    color: #140f0e;
    border-bottom: 4px solid #140f0e;
}


.menu img {
    padding-top: 10px;
    height: 30px;
}

h2 {
    font-size: 48px;
    padding-top: 72px;
    padding-bottom: 30px;
}

.cards,
.plans,
.buttons,
.links {
    display: flex;
}

.card {
    background-color: #c1d0d4;
    color: #140f0e;
    width: 30%;
    height: 200px;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}

.card_development {
    background-color: #999;
    width: 30%;
    height: 200px;
    color: #140f0e;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}

.card h3,
.card_development h3 {
    padding-top: 28px;
    font-size: 42px;
}

.card p,
.card_development p {

    font-size: 24px;
}

.card span {
    color: #f33;
    font-size: 26px;
    font-weight: bold;
}

.plan table {
    width: 500px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

.plan table th {
    padding: 10px;
    border: solid 2px #140f0e;
    font-size: 20px;
}

.plan table td {
    padding: 10px;
    border: solid 2px #140f0e;
    font-size: 20px;
}

.plan h3 {
    font-size: 48px;
    padding-top: 32px;
}

.plan p {
    padding-top: 24px;
    padding-bottom: 24px;
}

.plancard {
    background-color: #c1d0d4;
    color: #140f0e;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.notice {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c1d0d4;
    color: #140f0e;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    height: 50vh;
    overflow-y: scroll;
}

.notice h2 {
    padding-top: 15px;
}

.notice table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

.notice table th,
.notice table td {
    padding: 10px;
    border: solid 2px #140f0e;
    font-size: 20px;
}

.notice table a {
    color: #140f0e;
    text-decoration: none;
    border-bottom: 2px solid #140f0e;
}

.signup a {
    color: #c1d0d4;
    text-decoration: none;
    border-bottom: 4px solid #c1d0d4;
}

#nextButton,
.call,
.login_button,
.link_content {
    text-align: center;
    color: #140f0e;
    text-decoration: none;
    background-color: #c1d0d4;
    display: inline-block;
    width: 300px;
    line-height: 100px;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}

.login_button_junbi {
    text-align: center;
    color: #140f0e;
    text-decoration: none;
    background-color: #aaa;
    display: inline-block;
    width: 300px;
    line-height: 100px;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}

footer {
    text-align: left;
    font-size: 16px;
    padding-left: 20pz;
    margin-top: 24px;
    padding: 20px;
    color: #140f0e;
    background-color: #c1d0d4;
}

footer img{
    padding-bottom: 10px;
}

footer ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0 0 10px 0;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    color: #140f0e;
    text-decoration: none;
    border-bottom: 2px solid #c1d0d4;
}

footer ul li a:hover {
    color: #140f0e;
    border-bottom: 2px solid #140f0e;
}

#login-form {
    width: 90%;
}

.login-container img {
    padding-top: 10vh;
}

#login-form input {
    height: 50px;
    font-size: 24px;
    border-radius: 16px;
    display: block;
}

#login-form button {
    background-color: #c1d0d4;
    color: #140f0e;
    padding: 20px;
    border-radius: 24px;
    font-size: 24px;
}

#login-form button:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}

#login-form p {
    font-size: 18px;
    padding-top: 30px;
}

.login-container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-container p {
    padding-top: 30px;
}

.login-container a {
    color: #c1d0d4;
    text-decoration: none;
    border-bottom: 4px solid #c1d0d4;
}

.basic-main img {
    padding-top: 10vh;
}

.basic-main h2,
#login-form h2,
.basic-main button {
    font-size: 36px;
    padding: 20px;
}

.basic-main button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 10px;
}

.basic-main #stopBtn {
    color: #f33;
}

.basic-main button:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}

.basic-main #output {
    width: 85%;
    height: 50vh;
    overflow-y: scroll;
    border: 2px solid #c1d0d4;
    border-radius: 16px;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 24px;
}

.topimage {
    width: 500px;
}

@media all and (max-width:920px) {
    body {
        padding: 0 auto;
        margin: 0 auto;
    }

    .PC_font {
        display: none;
    }

    .smartphone_font {
        display: block;
    }

    .FirstView img {
        width: 80%;
    }

    .FirstView h1 {
        font-size: 56px;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .menu {
        display: none;
    }

    .sp_menu {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: #c1d0d4;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
        font-size: 30px;
    }


    .sp_menu a {
        color: #140f0e;
        text-decoration: none;
        border-bottom: 4px solid #c1d0d4;
        font-weight: bold;
        display: block;
        padding: 2px 0;
        /* ←必要なら微調整してね */
    }

    .sp_menu br {
        line-height: 0;
        margin: 0;
        padding: 0;
    }

    .sp_menu a:hover {
        color: #140f0e;
        border-bottom: 4px solid #140f0e;
    }

    .sp_menu img {
        height: 40px;
    }

    .cards,
    .plans,
    .buttons,
    .links {
        flex-direction: column;
        align-items: center;
    }

    .card,
    .card_development {
        margin-bottom: 20px;
    }

    .card h3,
    .card_development h3 {
        font-size: 32px;
    }

    .card p,
    .card_development p {
        font-size: 20px;
    }

    .plan table,
    .card,
    .card_development {
        width: 90%;
    }

    .plan h3 {
        font-size: 36px;
    }

    .plancard {
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .notice {
        width: 80%;
        height: 60vh;
    }

    .notice table th,
    .notice table td,
    .plan p,
    .plan table th,
    .plan table td {
        font-size: 18px;
    }

    #nextButton,
    .call,
    .login_button,
    .link_content,
    .login_button_junbi {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #login-form img,
    .basic-main img,
    #login-form input,
    #email,
    #password {
        width: 85%;
    }

    .basic-main {
        width: 100%;
    }

    .basic-main button {
        width: 100px;
        height: 100px;
        font-size: 48px;
    }

    .topimage {
        width: 85%;
    }

    footer {
        font-size: 16px;
    }

    .email,
    .password {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        font-size: 20px;
    }
}